[submodule "crypto"]
	path = lib/crypto
	url = git@github.com:shanet/Crypto-Example.git
[submodule "json"]
    path = lib/json
    url = git@github.com:nlohmann/json.git
[submodule "pool"]
	path = lib/thread_pool
	url = git@github.com:progschj/ThreadPool.git
[submodule "base64"]
	path = lib/base64
	url = git@github.com:ReneNyffenegger/cpp-base64.git
[submodule "lib/SQLiteCpp"]
	path = lib/SQLiteCpp
	url = git@github.com:SRombauts/SQLiteCpp.git
