[submodule "crypto"]
	path = lib/crypto
	url = https://github.com/shanet/Crypto-Example.git
[submodule "json"]
    path = lib/json
    url = https://github.com/nlohmann/json.git
[submodule "pool"]
	path = lib/thread_pool
	url = https://github.com/progschj/ThreadPool.git
[submodule "base64"]
	path = lib/base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
